html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(
    90deg,
    rgb(233, 233, 233),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(233, 233, 233)
  );
}
.navbar-toggler,
.navbar-toggler:hover {
  border: none;
}
.theme-color {
  background: linear-gradient(
    90deg,
    rgb(206, 255, 226),
    rgb(156, 255, 197),
    rgb(119, 255, 175)
  );
}

.nav-link:hover {
  background-color: #fafafa34;
  border-radius: 12px;
}

.auth-btn a {
  background-color: #0084ff;
  color: white;
  border-radius: 6px;
  margin: 2px;
}
.auth-btn a:hover {
  background-color: #0279e9;
  color: white !important;
  border-radius: 6px;
}
.footer {
  background-color: #000000e0;
  color: white;
  padding: 20px;
}
