{% extends "main/base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static "style/home.css" %}">
{% endblock head %}

{% block body %}
<div class=" py-4">
<div class="box p-4 main-theme bottom-curve mt-4">
    <div class=" text-body-emphasis ">
      <div class="mx-4 p-4">
        <h1 class="display-4 fst-italic">Welcome To The profileSpace</h1>
        <p class="lead my-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum excepturi saepe temporibus quam, nostrum modi a molestiae officiis veritatis reiciendis mollitia voluptatum necessitatibus repellendus delectus ex accusantium doloribus assumenda cumque aspernatur. Debitis rem asperiores facere suscipit alias nemo repudiandae voluptatem!</p>
      </div>
    </div>
</div> 
</div> 



</div>  
  
{% endblock body %}